
html, body
{
  margin: 0;
  padding: 0;
  font-family: Ariel, sans-serif;
}

#control
{
  width: 98%;
  padding: 1%;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  background: #EEE;
}

#control #play,
#control #pause,
#control #counter
{
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
}

#control #play,
#control #pause
{
  cursor: hand;
  margin-right: 5px;
}

#control #play:hover,
#control #pause:hover
{
  background-color: #DDD;
}

#control #counter
{
  width: 150px;
  margin-left: 20px;
  vertical-align: text-bottom;
}
#control #counter::before
{
  content: "Running step: ";
}

#control #field
{
  float: right;
  display: block;
  font-size: 15px;
  line-height: 24px;
}
#control #field::before
{
  content: "Show field: ";
}
